{% extends 'base.html' %}

{% block navbar %}
  <div  class="bg-light" style="position: sticky; top: 0; z-index: 90;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 30px;">
            <a class="navbar-brand" href="#">Fabrique</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'poll_app:available_polls' %}">Available polls<span class="sr-only">(current)</span></a>
                </li>
              </ul>

            </div>
          </nav>
    </div>
  </div>
{% endblock %}